progress,sub,sup{vertical-align:baseline}button,hr,input{overflow:visible}html{font-family:sans-serif;line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0} figcaption, menu,article,aside,details,figure,footer,header,main,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block}audio:not([controls]){display:none;height:0} [hidden],template{display:none}a{background-color:transparent;-webkit-text-decoration-skip:objects}a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}svg:not(:root){overflow:hidden}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}figure{margin:1em 40px}hr{box-sizing:content-box;height:0}button,input,optgroup,select,textarea{font:inherit;margin:0}optgroup{font-weight:700}button,input{}button,select{text-transform:none}[type=submit], [type=reset],button,html [type=button]{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:ButtonText dotted 1px}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-input-placeholder{color:inherit;opacity:.54}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
html {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: 'Open Sans', sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  flex: auto;
  overflow: hidden;
}
button[type=submit], button[type=reset], button.reset {
  cursor: pointer;
}
.filter-modal button.reset {
    background: #06b259;
    margin-left: 10px;
}
a {
  text-decoration: none;
  color: #2269b2;
}
input:focus, select:focus, textarea:focus {
  outline: none;
}
.layout {
  flex: auto;
  background: #FAFAFA;
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  min-width: 1920px;
}
.error{
    margin:0 auto;
}
.layout--login {
  flex-direction: row;
  height: 100vh;
}
.layout__menu {
  display: flex;
  flex-direction: column;
  z-index: 5100;
  background: #2269B2;
  height: 60px;
  color: white;
}
.layout__submenu {
  height: 60px;
  background-color: #373f4b;
  color: white;
}
.layout__content{
  display: flex;
  flex-direction: column;
  position: relative;
  flex-grow: 1;
}
.layout__content--tabs {
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 18px;
}
.layout__content--map {
  display: flex;
  height: calc(100vh - 120px);
}
.layout__content--view {
  flex-direction: row;
}
.layout__content--form {
  flex-direction: row;
}
.layout__content--form-map {
  flex-direction: row;
}
.layout__map {
  width: 100%;
  height: 100vh;
}
.layout__map #map-block{
  height: 100%;
}
.layout__form {
  padding: 30px 20px;
  z-index: 5000;
  display: flex;
}
.layout__form--crutch {
  min-width: 1890px !important;
  overflow-x: scroll !important;
  height: 82vh !important;
}
.layout__form--crutch .form-block__title .text {
  position: relative !important;
  top: 15px !important;
}
.layout__login-aside {
  width: 110px;
  background-color: #373f4b;
}
.layout__login-form {
  background-color: #2269b2;
  height: auto;
  width: 100%;
  display: flex;
}
.layout__background {
  position: absolute;
  right: 0;
  bottom: 40px;
  width: 380px;
  fill: white;
  stroke: #2269b2;
  stroke-width: 3px;
}
.layout__help {
  position: absolute;
  top: 30px;
  right: 20px;
}
.layout__nav{
  background-color: #033a72;
  display: flex;
  justify-content: space-between;
  position: absolute;
  z-index: 5010;
  left: 0;
  right: 0;
  top: 60px;
  transform: translate(0, -100%);
  -webkit-transform: translate(0, -100%);
  -o-transform: translate(0, -100%);
  -moz-transform: translate(0, -100%);
  -webkit-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.layout__nav--open {
  transform: none;
}
.layout__nav .navigation__block:nth-child(1) .menu-list {
  width: 310px;
}
.layout__nav .navigation__block:nth-child(3) .menu-list {
  width: 258px;
}
.layout__nav .navigation__block:nth-child(4) .menu-list {
  width: 200px;
}